<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2025 Optima Group</p>
			<p>We are part of the
				<a href="https://www.cs.cityu.edu.hk/">Department of Computer Science</a>
				at the<a href="https://www.cityu.edu.hk"> City University of Hong Kong (CityUHK)</a>.</p>
		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
			- <a href="https://www.ugc.edu.hk/eng/rgc/funding_opport/grf/">GRF</a>
			and <a href="https://www.ugc.edu.hk/eng/rgc/funding_opport/anr/index.html">ANR/RGC JRS</a>
			from <a href="https://www.ugc.edu.hk/eng/rgc/">RGC</a><br />
			- <a href="https://www.itf.gov.hk/en/funding-programmes/supporting-research/tcfs/index.html">TCFS </a>
				from <a href="https://www.itf.gov.hk/en/home/index.html">ITC</a> <br />
			- GP and YSF from <a href="https://www.nsfc.gov.cn/english/site_1/index.html">NSFC</a><br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
			Yeung Kin Man Academic Building,<br />
			City University of Hong Kong,<br />
			Tat Chee Avenue, Kowloon,<br />
			Hong Kong SAR, China. (<a href="https://maps.app.goo.gl/CnqLRgWSVUUkc1Y16">Maps</a>)<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
